{% extends "base.html" %}

{% block title %}CollegeHub|About{% endblock title %}
{% block aboutactive %} active  {% endblock aboutactive %}

{% block body %}
<section class="about-us-section">
    <div class="about-us-container">
        <h1>About Us</h1>
        <p>Welcome to MyCollegeHub, your one-stop destination for study materials, discussions, notes, and more!</p>
        <p>We specialize in providing resources for courses like BCA, BBA, and HM, offering a comprehensive learning experience for students.</p>
        <p>Explore our website to access notes, previous year papers, assignments, and engage in meaningful discussions with fellow students.</p>
        <p>Join us on our mission to make learning easier and more accessible for everyone!</p>
    </div>
</section>
{% endblock body %}