# django==5.0.4  Before installing djongo
# dnspython==2.6.1  #pre-installed with pymongo

djongo==1.3.6
django==4.1.13 #After installing djongo

# pymongo==4.7.0 #Didn't worked with djongo
pymongo==3.12.1  #Still shows warning but works :-D

python-dotenv==1.0.1
pytz==2024.1  #date-time-something-module needed for djongo to work 
sqlparse==0.2.4