body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
}

/* header, aside, footer {
    padding: 20px;
    background-color: #333;
    color: #fff;
    text-align: center;
} */

/* header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
} */

/* aside { */
    /* position: fixed; */
    /* top: 60px; Adjust based on header height */
    /* bottom: 60px; Adjust based on footer height */
    /* width: 200px; */
    /* left: 0; */
    /* background-color: #444; */
/* }  */

main {
    /*Adjust based on header and sidebar width*/
    margin: 10px 20px 20px 220px; 

    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
} */

.contact-form-container {
    max-width: 600px;
    margin: 0 auto;
}

.contact-form-container h2 {
    margin-bottom: 20px;
    color: #333;
}

.contact-form-container .form-group {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
}

.contact-form-container .form-group label {
    display: block;
    margin-bottom: 5px;
    color: #555;
}

.contact-form-container .form-group input,
.contact-form-container .form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.contact-form-container .form-group input:focus,
.contact-form-container .form-group textarea:focus {
    border-color: #007bff;
}

.contact-form-container button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
    box-sizing: border-box;
}

.contact-form-container button:hover {
    background-color: #0056b3;
}
