* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

header {
  background-color: #63a5e2;
  color: #fff;
  text-align: center;
  box-sizing: border-box;
  /* height: 30px; */
}

nav {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}

nav[role="sub"] ul li {
  margin: 6px;
  padding: 4px;
  border-radius: 2px;
  background-color: #6296c7;
  display: inline;
}
nav[role="sub"] ul li a{
  text-decoration: none;
  color: black;
}

.logo img {
  height: 50px;
  width: 100px;
}

.search-bar input[type="text"] {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.search-bar button {
  padding: 8px 15px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}


.login {
  display: inline-block;
  padding-bottom: 5px;
}

.login a {
  text-decoration: none;
  color: #fff;
  padding: 8px 15px;
  border: 1px solid #fff;
  border-radius: 4px;
}

.login a:hover {
  background-color: green;
}

.login button{
  text-decoration: none;
  color: white;
  background-color: #333;
  padding: 8px 15px;
  border: 1px solid #fff;
  border-radius: 4px;
}

.login button:hover {
  background-color: green;
  cursor: pointer;
}

.profile-pic {
  position: relative;
  display: inline-block;
}

.profile-pic img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  transition: box-shadow 0.3s ease;
}

.profile-pic img:hover {
  cursor: pointer;
  border: 2px solid #6296c7;
}

.dropdown-menu {
  display: none;
  position: absolute;
  top: 50px; /* Adjust this value as needed */
  right: 0;
  background-color: white;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 5px;
  width: 200px; /* Adjust this value as needed */
}

.dropdown-menu a {
  display: flex;
  align-items: center;
  padding: 10px;
  text-decoration: none;
  color: black;
  transition: background-color 0.3s ease;
}

.dropdown-menu a:hover {
  background-color: #f1f1f1;
}

.dropdown-menu img {
  margin-right: 10px;
  width: 20px; /* Adjust this value as needed */
  height: 20px; /* Adjust this value as needed */
}
