body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}


aside {
    background-color: #444;
    padding: 20px;
    width: 200px;
    float: left;
    height: 88vh;
}

/* CSS for buttons in aside */
.button-container {
    display: flex;
    flex-direction: column;
}

aside button {
    margin-top: 4px;
    margin-bottom: 1px;
    padding: 10px;
    width: 100%;
    border: none;
    background-color: #6296c7;
    color: white;
    cursor: pointer;
}
aside button a {
    text-decoration: none;
    color: white;
    
}

aside button:hover {
    background-color: #45a049;
}

main {
    height: 87vh;
    /* text-align: center; */
    background-color: white;
}

/* main button {
    margin: 5px 500px;
    padding: 5px 20px;
    border: none;
    background-color: palevioletred;
    color: white;
    cursor: pointer;
    display: block;
} */

/* CSS for image */
.main-image {
    display: block;
    margin: 0 auto;
    width: 650px;
    /* Adjust width as needed */
    height: auto;
    /* margin-top: 20px; */
}

.main img {
    height: 100%;
    width: 100%;
  
}

.images {
    overflow: hidden;
    padding: 40px 0px;
    /* background: #000; */
 
}

.images img {
    transition: transform 0.5s ease;
    border: 2px solid black;
    border-radius: 10px;
    margin: 4px 5px;
    height: 130px;
    width: 400px;
    /* cursor: pointer; */
}
.images :hover img{ 
    transform: scale(0.9);
    cursor: pointer;
}

.home-images-container{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-images img{
    margin: 0px 5px;
    transition: transform 0.5s ease;
    border: 2px solid black;
    border-radius: 10px;
    height: 80px;
    width: 200px;
    
    
}
.home-images :hover img{ 
    transform: scale(0.9);
    cursor: pointer;
}
/* Styles for the <h3> element */
.resource-heading h3 {
    font-family: Arial, sans-serif;
    font-size: 24px;
    color: #333;
    background-color: #f0f0f0;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    text-align: center;
    margin: 20px 0;
}
