body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}


aside {
    background-color: #444;
    padding: 20px;
    width: 200px;
    float: left;
    height: 88vh;
}
/* 

  
  .sidebar {
    width: 250px;
    height: 100vh;
    background-color: #2c3e50;
    color: #ecf0f1;
    position: fixed;
    top: 0;
    left: 0;
    padding-top: 20px;
} */

.sidebar-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sidebar-nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 100%;
}

.sidebar-nav ul li {
    width: 100%;
}

.sidebar-nav ul li a {
    display: flex;
    align-items: center;
    margin-top: 15px;
    color: #ecf0f1;
    text-decoration: none;
    text-align: center;
    width: 100%;
}

.sidebar-nav ul li a img {
    height: 30px;
    width: 30px;
    margin-right: 10px;
}

.sidebar-nav ul li a:hover {
    background-color: #304a5c;
}

.dropdown {
    position: relative;
    width: 100%;
}

.dropbtn {
    cursor: pointer;
    text-align: left;
    width: 100%;
}

.dropdown-content {
    display: none;
    position: absolute;
    left: 0;
    width: 100%;
    z-index: 1;
    flex-direction: column;
    align-items: center;
    }
    
    .dropdown-content a {
    margin-left: 20px;
    display: flex;
    align-items: center;
    margin-top: 15px;
    text-decoration: none;
    color: #ecf0f1;
    text-align: left;
    width: 100%;
}

.dropdown-content a img {
    margin-right: 10px;
}


.dropdown:hover .dropdown-content {
    display: flex;
}

/* CSS for buttons in aside */
.button-container {
    display: flex;
    flex-direction: column;
}

main {
    height: 87vh;
    /* text-align: center; */
    background-color: white;
}

/* main button {
    margin: 5px 500px;
    padding: 5px 20px;
    border: none;
    background-color: palevioletred;
    color: white;
    cursor: pointer;
    display: block;
} */

/* CSS for image */
.main-image {
    display: block;
    margin: 0 auto;
    width: 650px;
    /* Adjust width as needed */
    height: auto;
    /* margin-top: 20px; */
}

.main img {
    height: 100%;
    width: 100%;
  
}

.images {
    overflow: hidden;
    padding: 40px 0px;
    /* background: #000; */
 
}

.images img {
    transition: transform 0.5s ease;
    border: 2px solid black;
    border-radius: 10px;
    margin: 4px 5px;
    height: 130px;
    width: 400px;
    /* cursor: pointer; */
}
.images :hover img{ 
    transform: scale(0.9);
    cursor: pointer;
}

.home-images-container{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-images img{
    margin: 0px 5px;
    transition: transform 0.5s ease;
    border: 2px solid black;
    border-radius: 10px;
    height: 80px;
    width: 200px;
    
    
}
.home-images :hover img{ 
    transform: scale(0.9);
    cursor: pointer;
}
/* Styles for the <h3> element */
.resource-heading h3 {
    font-family: Arial, sans-serif;
    font-size: 24px;
    color: #333;
    background-color: #f0f0f0;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    text-align: center;
    margin: 20px 0;
}

.course-heading-container {
    display: flex;
    align-items: center;
    margin: 20px;
}


.course-heading-container .icon {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}


.course-heading-container .heading {
    font-size: 24px;
    color: #333;
}


  