{% extends "base.html" %}

{% block title %}CollegeHub|Filters{% endblock title %}
{% block resourceactive %} active {% endblock resourceactive %}

{% load static %}

{% block body %}

<form action="http://127.0.0.1:8000/resources/filter" method="get">

    <select id="courseSelect" name="courseSelect">
        <option value="" >Choose a Course</option>
        <option value="BCA"{% if course == "BCA" %}selected{% endif %} >BCA</option>
        <option value="BBA"{% if course == "BBA" %}selected{% endif %}>BBA</option>
        <option value="HM"{% if course == "HM" %}selected{% endif %}>HM</option>
        <!-- Add more options as needed -->
    </select>
    <select id="semesterSelect" name="semesterSelect">
        <option value="">Choose a Semester</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <!-- Add more options as needed -->
    </select>
    <select id="resourceSelect" name="resourceSelect">
        <option value="">Resource type</option>
        <option value="notes">Notes</option>
        <option value="previousyearpaper">Previous Year Papers</option>
        <option value="assignment">Assignments</option>
        <!-- Add more options as needed -->
    </select>

    <input type="text" id="yearInput" name="year" placeholder="Enter Year">
    <a href="/resources/filterpage" role="button">Clear Filters</a>
    <button type="submit">Apply Filters</button>
    
</form>

<div id="filteredData">
    {% for item in data %}
    <a href="http://127.0.0.1:8000/media/{{item.paper_file}}">{{ item.subject}}</a>, {{item.year}},{{item.course}}, Semester {{item.semester}}<br>
   {% endfor %}
</div>

{% endblock body %}

{% comment %} 
{% block js %}
<script>
    document.addEventListener('DOMContentLoaded', (event) => {
        // List of all form fields
        const formFields = ['courseSelect', 'semesterSelect', 'resourceSelect', 'yearInput'];
    
        // Load saved values from localStorage
        formFields.forEach(field => {
            const element = document.getElementById(field);
            const savedValue = localStorage.getItem(field);
            if (savedValue) {
                element.value = savedValue;
            }
        });
    
        // Add event listeners to save values to localStorage when they change
        formFields.forEach(field => {
            const element = document.getElementById(field);
            element.addEventListener('change', (event) => {
                localStorage.setItem(field, event.target.value);
            });
        });
    
        // Save input field values as well on input event
        document.getElementById('yearInput').addEventListener('input', (event) => {
            localStorage.setItem('yearInput', event.target.value);
        });
    });
    </script>
    {% endblock js %}
     {% endcomment %}