{% extends "base.html" %}

{% block title %}CollegeHub|Filters{% endblock title %}
{% block resourceactive %} active {% endblock resourceactive %}
{% load static %}

{% block body %}
<div class="filterform">

    <form action="http://127.0.0.1:8000/resources/filter" method="get">
   
    
        <select id="courseSelect" name="courseSelect">
            <option value="" >Choose a Course</option>
            <option value="BCA"{% if course == "BCA" %}selected{% endif %} >BCA</option>
            <option value="BBA"{% if course == "BBA" %}selected{% endif %}>BBA</option>
            <option value="HM"{% if course == "HM" %}selected{% endif %}>HM</option>
            <!-- Add more options as needed -->
        </select>
        <select id="semesterSelect" name="semesterSelect">
            <option value="">Choose a Semester</option>
            <option value="1" {% if semester == "1" %} selected {% endif %}>1</option>
            <option value="2" {% if semester == "2" %} selected {% endif %}>2</option>
            <option value="3" {% if semester == "3" %} selected {% endif %}>3</option>
            <option value="4" {% if semester == "4" %} selected {% endif %}>4</option>
            <option value="5" {% if semester == "5" %} selected {% endif %}>5</option>
            <option value="6" {% if semester == "6" %} selected {% endif %}>6</option>
            <!-- Add more options as needed -->
        </select>
        <select id="resourceSelect" name="resourceSelect">
            <option value="notes"{% if type == "notes" %} selected {% endif %}>Notes</option>
            <option value="paper"{% if type == "paper" %} selected {% endif %}>Previous Year Papers</option>
            <option value="assignment" {% if type == "assignment" %} selected {% endif %}>Assignments</option>
            <!-- Add more options as needed -->
        </select>
    
        <input type="text" id="yearInput" name="year" placeholder="Enter Year">
        <a href="/resources/filterpage" role="button">Clear Filters</a>
        <button type="submit">Apply Filters</button>
        
    </form>
</div>

<div id="filteredData">
    {% for item in data %}

    <div class="course-info">
    <a href="http://127.0.0.1:8000/media/{{item.pdf_file}}" class="pdf-link"><img src="{% static 'img/pdf.png' %}" alt="PDF icon" class="pdf-icon"> {{ item.subject}}</a>, <span>{{item.year}},{{item.course}}, Semester {{item.semester}}</span>
    <a href="http://127.0.0.1:8000/media/{{item.pdf_file}}" download class="download-link">Download</a><br>

   </div>

   {% endfor %}
</div>
{% endblock body %}
