{% extends "base.html" %}

{% block title %}CollegeHub|Resources{% endblock title %}
{% block resourceactive %} active {% endblock resourceactive %}

{% load static %}

{% block body %}

<div class="container my-4">

    <a class="btn btn-primary" href="/resources/pdf/notes/" role="button">Notes</a>
    <a class="btn btn-primary" href="/pdf/papers" role="button">Previous Year Papers</a>
    <a class="btn btn-primary" href="/pdf/assignments" role="button">Assignments</a>
</div>

{% endblock body %}