{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>{% block title %} {% endblock title %}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    {% comment %} <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/fontawesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/solid.min.css"> {% endcomment %}
    
    <link rel="stylesheet" href="{%static 'css/main.css' %}">
    <link rel="stylesheet" href="{%static 'css/header.css' %}">
    <link rel="stylesheet" href="{%static 'css/footer.css' %}">
    <link rel="stylesheet" href="{%static 'css/loginsignup.css' %}">
    <link rel="stylesheet" href="{%static 'css/contactform.css' %}">
    <link rel="stylesheet" href="{%static 'css/pdfview.css' %}">
    <link rel="stylesheet" href="{%static 'css/alerts.css' %}">
    <link rel="stylesheet" href="{%static 'css/filterform.css' %}">
    <link rel="stylesheet" href="{%static 'css/aboutus.css' %}">
  </head>
  
  <body>
    <header>
        <!-- header file -->
        <h3>My Clg Hub</h3>
    </header>

    <nav role="main">
        <div class="logo">
            <a href="/"><img src="{% static 'img/logo.jpg' %}" alt="Logo"></a>
        </div>

        <div >
            <form method="get" action="/search" >
                <input type="search" placeholder="Search" aria-label="Search" name="query"
                  >
                <button type="submit">Search</button>
              </form>
        </div>

        <div class="login">
            {% if user.is_authenticated %}
                <a href="#" id="navbarDropdown" role="button" data-toggle="dropdown">
                  {{request.user}}</a>
                  <a class="dropdown-item" href="/logout">Logout</a>
          {% else %}
          <!-- Button to  trigger Login modal -->
          <button type="button" id="loginBtn">Login</button>
          <button type="button" id="signupBtn">Sign Up</button>
          {% endif %} 
        </div>

    </nav>

    <nav role="sub">
        <ul >
            <li class="{% block homeactive %}  {% endblock homeactive %}">
              <a  href="/">Home <span class="sr-only"></span></a>
            </li>
            <li class="{% block discussionactive %}  {% endblock discussionactive %} ">
              <a  href="/discussion">Discussion</a>
            </li>
            <li class=" {% block aboutactive %}  {% endblock aboutactive %}">
              <a  href="/about">About</a>
            </li>
            <li class=" {% block contactactive %}  {% endblock contactactive %} ">
              <a  href="/contact">Contact</a>
            </li>
    
          </ul>
    </nav>
         
   

{% for message in messages %}
<div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
<strong>Message : </strong> {{ message }}
<button type="button" class="close" data-dismiss="alert" aria-label="Close">
  <span aria-hidden="true">&times;</span>
</button>
</div>
{% endfor %}


  <!-- Signup Modal -->
  <div id="signupModal" id="signupModal" class="modal">
    <div class="modal-content">
        <span class="close" id="closeSignup">&times;</span>
        <h2>MyCollegeHub|Sign Up</h2>
        <form action="/signup" method='post' id="signupForm">

          
          <label for="username">Username</label>
          <input type="text"  id="username" name="username"
          placeholder="Enter your username " required>
          
                      <label for="email">Email:</label>
                      <input type="email" id="email" name="email" placeholder="name@example.com" required>
          
          <label for="fname">First Name</label>
          <input type="text" id="fname" name="fname" placeholder="Enter Your First Name"
          required>
          
        <label for="lname">Last Name</label>
      <input type="text" id="lname" name="lname" placeholder="Enter Your Last Name"
        required>

            <label for="pass1">Password:</label>
            <input type="password" id="pass1" name="pass1" placeholder="Choose Your Password" required>

            <label for="confirmPassword">Confirm Password:</label>
            <input type="password" id="pass2" name="pass2"  placeholder="Enter your password again"  required>

            {% csrf_token %}
            <button type="submit">Sign Up</button>
        </form>
    </div>
</div>
 <!-- Login Modal -->
 <div id="loginModal" class="modal">
  <div class="modal-content">
      <span class="close" id="closeLogin">&times;</span>
      <h2>Login</h2>
      <form action="/login" method="POST" id="loginForm">{% csrf_token %}
          
          <label for="username">Username</label>
          <input type="text"  id="loginusername" name="loginusername"
            placeholder="Enter your username " required>

          <label for="loginPassword">Password:</label>
          <input type="password" id="loginpassword" name="loginpassword" placeholder="Enter your password" required>

          <button type="submit">Login</button>
      </form>
  </div>
</div>


    <aside>
        <div class="button-container">
          {% if user.is_authenticated %}
          <button><a href="/">Profile</a></button>
          <button class="disabled "><a href="/resources/filterpage" role="button">Saved</a></button>
            {% endif %}
          <button>Courses</button>
          <button>Discussions</button>
          <button>Resources</button>
        </div>
    </aside>

    <main>
          {% block body %} {% endblock body %}
    </main>
    
    <footer>
        &copy; mycollegehub. All Rights Reserved.
        <div class="logos">
            <a href="#" class="fa fa-facebook"></a>
            <a href="#" class="fa fa-twitter"></a>
            <a href="#" class="fa fa-linkedin"></a>
            <!-- <a href="#" class="fa fa-youtube"></a> -->
            <a href="#" class="fa fa-instagram"></a>
        </div>
    </footer>

    {% block js %} {% endblock js %}
    <script src="{% static 'js/loginsignup.js' %}"></script>
    <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="{%static 'css/alerts.css' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
  integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
  crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
  integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
  crossorigin="anonymous"></script>
</body>

</html>